<!DOCTYPE html>
<html>
  <head>
    <title>ML-Annotate</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/css/dataTables.bootstrap.css" integrity="sha256-I9TOaqmifat8pWeF6SutmajUX3mfSpUgRnCjCBX2YxY=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.bootstrap.min.css" integrity="sha384-vjnR1UKFPniW4f9VMURQTVEsosuPV0bZLJqIG69B7l2Anr7Fht4Hy2OOWGd81RQW" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css" integrity="sha256-k5mFes0QrsMTUCIg7sRlizkZIhMeL4fTABLlkjQmR0s=" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/sql.min.js" integrity="sha256-J7HuqMJTEc5SsyA8nOP0+kVUMGlQq0LrQAvAVgs1k1E=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/js/jquery.dataTables.js" integrity="sha256-E+/kL+CHUqkr0DmPPZ7ps65UqND+U/ZGCke2LM/XCLs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/js/dataTables.bootstrap4.js" integrity="sha256-bDE6eVDuBVRv1glBD2OILEEbWFAo6vUYgTTBkWV+LVI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.1/mousetrap.js" integrity="sha256-hP0lGqjBtLc6QkS0oWrHNYJRyJKqJj8DgJy7axC1b7Q=" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js" integrity="sha384-6HTzjzs9z4e++DpwUslzHjPEQLurPtfOOr1EENaFoaLY2XTdteWLxIaTdSm+G+Z7" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.bootstrap.min.js" integrity="sha384-9y2WZjKlWPJR8YlI/WioFbzay9z4vIpFzR8rkbiD6UcnJDe8oIAeYnfyKL9CKpJY" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.colVis.min.js" integrity="sha384-TapqXU1UeVsci6lyISaZStlkFYQ0VWsqn50MhlgKylsdAckOGAdTsCdwuotdfdsG" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js" integrity="sha384-MGofXzcROcQ3bZUqtn2mEI8nhXNmKZ9Qq4FcEapwT3JBKUlgVY+ngyYFNXXUgzSS" crossorigin="anonymous"></script>

    <script src="/static/js/main.js"></script>

    {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {%- endassets %}

    {% assets "css_all" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
  </head>
  <body class="{% block bodyClass %}{% endblock %}">
  {% block header %}{% endblock %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info">
            {{ message }}
            {# <i class="close material-icons">close</i> #}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block body %}
    {% endblock %}
  </div>
  </body>
</html>
