{% extends "layout_problem.html" %}
{% block body %}
  <h3>Processed jobs</h3>
  <p style="padding-bottom: 30px;">ML-Annotate does not include any machine learning components but you may use table <strong>training_job</strong> to provide information to the front-end about training accuracy.</p>

  {% if not data %}
  <h4>How to add a new processed job</h4>
  <pre><code class="sql">
  INSERT INTO training_job (problem_id, accuracy, created_at)
  VALUES ('{{ problem.id }}', 0.80, NOW());
  </code></pre>
  {% endif %}

  {% if data %}
    <div id="render-training-job"></div>
    <div id="render-training-job-dataset"></div>
    <script>
      annotate.renderPlot('render-training-job', {{ plot_data|tojson }});
      annotate.renderProcessedJobs(
          'render-training-job-dataset',
        {{ data|tojson }}
      );
    </script>
  {% endif %}
{% endblock %}
