@import '../../../node_modules/bootstrap/dist/css/bootstrap';
@import '../../../node_modules/bootstrap/dist/css/bootstrap-theme';
@import '../../../node_modules/highlight.js/styles/monokai-sublime';
@import '../../../node_modules/react-table/react-table';
@import './fonts';

body {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 20px;
}
.buttons {
  display: flex;
}
.buttons form {
  width: 100%;
  margin: 10px;
}
.buttons .button {
  background-color: gray;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 30px;
  position: relative;
  height: 102px;
  border: 0;
  border-radius: 10px;
}
.buttons .button {
  text-decoration: none;
  font-size: 40px;
}
.buttons .button .help {
  font-size: 11px;
  display: block;
  opacity: 0.7;
}
.buttons .button .keybinding {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  border-radius: 100%;
  font-size: 14px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: block;
  color: #7f8c8d;
  line-height: 20px;
  opacity: 0.5;
}
.buttons .button-yes, .color-yes {
  background-color: #27ae60;
}
.buttons .button-no, .color-no {
  background-color: #c0392b;
}
.buttons .button-skip, .color-skip {
  background-color: #7f8c8d;
}
.buttons .color-0, .color-0 {
  background-color: rgb(72, 130, 133);
}
.buttons .color-1, .color-1 {
  background-color: #0e7b3c;
}
.buttons .color-2, .color-2 {
  background-color: #2980b9;
}
.buttons .color-3, .color-3 {
  background-color: #8e44ad;
}
.buttons .color-4, .color-4 {
  background-color: #d35400;
}
.buttons .color-5, .color-5 {
  background-color: #2c3e50;
}
.multi-label {
  .table th {
    font-size: 25px;
  }
  .table td {
    padding: 10px 0px;
  }
  .label {
    padding: 10px;
    font-size: 14px;
    display: inline-block;
    input {
      margin-right: 3px;
      position: relative;
      top: -1px;
    }
  }
  .button {
    background-color: #95a5a6;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    position: relative;
    height: 102px;
    border: 0;
    border-radius: 10px;
  }
}
.dropdown-menu button {
  width: 100%;
  border: 0;
  background: none;
  padding: 5px;
  &:hover {
    background-color: rgb(230, 230, 230);
  }
}

.navbar-brand span {
  font-size: 16px;
  padding-left: 10px;
  color: #065378;
  font-weight: 700;
}
.navbar-brand img {
  height: 22px;
  display: inline-block;
}
.navbar { border-radius: 0; border-top: 0; }
.navbar-default .navbar-text { color: #065378; }
.navbar-default .training-problem {
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0px 20px;
    color: black;
}
.navbar-default .training-problem:hover,
.navbar-default .navbar-nav>li>a:hover {
  background-color: gray;
  color: white;
  text-decoration: none;
}

pre {
  padding: 0;
  margin: 20px 0px;
}

html {
  width: 100%;
  height: 100%;
}

.login-container {
  max-width: 345px;
  margin: 0 auto;
}
.login-wrapper h3 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}
.dark-page {
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
  width: 100%;
  height: 100%;
  display: grid;
}
.dark-page #flDebug {
  display: none!important;
}
.dark-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark-page .input-wrapper {
  position: relative;
  margin-bottom: 15px;
}
.dark-page .input {
  width: 100%;
  background-color: white;
  padding: 12px 12px;
  border: 0;
  border-radius: 0;
  height: auto;
}
.dark-page h1 {
  color: white;
}
.dark-page h3 {
  color: white;
}
.dark-page .btn {
  width: 100%;
  border-radius: 0;
  background-color: #3498db;
  padding: 10px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
.alert {
  position: absolute;
  top: 10px;
  left: 10px;
}
.btn-small {
  padding: 4px 8px;
  font-size: 10px;
}
.dataset-free-text {
  white-space: normal;
  font-size: 12px;
}
.data-table-columns {
  margin-bottom: 20px;
}
.data-batch-label {
  background-color: rgb(240, 240, 240);
  padding: 10px 15px;
  margin-bottom: 10px;
  display: flex;

  .data-batch-label-selected {
    flex-grow: 1;
  }

  a {
    margin: 0px 5px;
    color: white;
    border: 0;
    padding: 4px 8px;
    font-size: 10px;
    text-align: center;
    border-radius: 2px;

    &.color-special {
      background-color: rgb(50, 50, 50);
    }

    &:hover {
      text-decoration: none;
      box-shadow: 2
    }
  }
}
.column-toggle {
  padding: 3px 6px;
  border-radius: 5px;
  margin: 3px;
  display: inline-block;
  background-color: #27ae60;
  color: white;
  font-size: 12px;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: none;
  }

  &.column-hide {
    background-color: #2c3e50;
    color: white;
    text-decoration: line-through;
  }
}
.badge-no-labels {
  color: rgb(236, 240, 241);
  font-size: 12px;
}
.badge-no-category {
  color: rgb(44, 62, 80);
  font-size: 12px;
}
.multi-label-selector {
  .labels {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 10px;
    > a {
      display: block;
      color: white;
      margin: 5px;
      width: 100%;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      border-radius: 10px;
      position: relative;

      .help {
        padding-right: 5px;
      }
      .name {
        font-size: 16px;
      }

      &:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
        text-decoration: none;
      }

      &.selected {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
        .glyphicon {
          color: #3eef46;
        }
      }

      .keybinding {
          position: absolute;
          bottom: 10px;
          right: 10px;
          background-color: white;
          border-radius: 100%;
          font-size: 14px;
          width: 20px;
          height: 20px;
          text-align: center;
          display: block;
          color: #7f8c8d;
          line-height: 20px;
          opacity: 0.5;
      }
    }
  }

  .button {
    background-color: #95a5a6;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    position: relative;
    height: 102px;
    border: 0;
    border-radius: 10px;
    &.button-no-category {
      display: inline-block;
      width: auto;
      font-size: 14px;
      height: auto;
      padding: 5px 10px;
      background: none;
      color: rgb(41, 128, 185);
      text-decoration: underline;
    }
  }
}

.undo-dropdown li {
  min-width: 200px;
}

.keyboard-shortcuts {
  padding: 5px;
}
